body {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.duplicated-container {
    display: flex;
    justify-content: space-between;
    max-width: 600px; /* Adjust the total width as needed */
    margin: 0 auto;
}
.container {
    width: 50%; /* Adjust the width as needed */
    padding: 5px;
    text-align: center;
    background-color: #f1f1f1; /* Background color for containers */
    border: 1px solid #ddd; /* Border for containers */
}
label {
	font-size: 26px;
    display: block;
    text-align: center; /* Center-align the titles */
    margin-bottom: 5px;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 0px;
    text-align: center;
}
button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
#submit-button {
    background-color: #007bff;
}
#clear-button-Title1 {
    background-color: #f00;
}
#clear-button-Title2 {
    background-color: #f00;
}
#result {
    text-align: center;
    margin-top: 20px;
}
#suggested-shots {
    text-align: center;
    margin-top: 20px;
}
h1 {
    font-size: 36px;
    margin-bottom: 15px;
}
h2 {
    font-size: 20px;
    margin-bottom: 5px;
}
p {
    font-size: 16px;
    margin: 5px;
}
.arrow-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: black; /* Make the arrows black */
    cursor: pointer;
    padding: 10px;
}
.input-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center-align the content horizontally */
    margin-bottom: 20px; /* Adjust the space between input containers */
}
input[type="text"] {
	font-size: 20px;
    width: 80px; /* Adjust the width to your preference */
    text-align: center;
}
#breakpoint {
    margin-bottom: 15px; /* Increase the margin below the "Breakpoint" */
}
